
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style  */
body{
    max-width: 1140px;
    margin: 0 auto;
}
.text-light{
    color: #8987A1;
}
.text-dark{
    color: #252432;
}
.light-red{
    color: #E95A08;
}
.text-color{
    color: rgba(0, 0, 0, 0.5);
}


/* nav section style  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items ul {
    display: flex;
    list-style: none;
    gap: 48px;
}
nav ul a{
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding: 80px 0px 0px 0px;
}
.always,.fresh,.flowers{
    font-size: 4rem;
    font-weight: bold;
}
/* card related styles */

.card-content{
   text-align: center;
   margin-bottom: 30px;
}
.card-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card-content-title{
    font-size: 3.24rem;
    font-weight: bold;
}
.card{
    text-align: center;
}
/* .card-text{
    gap: 10px;
} */
.btn-primary{
    width: 100%;
    background-color: #E95A08;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 19px 80px;
}

/* plant-lover section style  */
.plant-lover-container{
    display: flex;
    gap: auto;
    margin-top: 210px;
}
.lover-content{
    margin: 38px 60px 0px;
}
.lover-title{
    font-size: 3.25rem;
    font-weight: bold;
}

/* join section style here  */
.join{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    gap: 0px;
}
.join-title{
    font-size: 3.25rem;
    font-weight: bold;
    color: white;
}
.email{
    /* height: 3.25rem; */
    width: 40.25rem;
    padding: 8px 20px;
}
.subscribe{
    /* height: 3.25rem; */
    width: 12rem;
    padding: 8px 20px;
    background-color: #E95A08;
    color: white;
}



/* media query for smal device */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-items ul,
    .banner,
    .plant-lover-container{
        flex-direction: column;
    }
    .nav-items ul{
        gap: 20px;
    }
    .card-items{
        grid-template-columns: repeat(2,1fr);
    }
    .email{
        width: auto;
    }
    
}
/* media query for medium devices */
@media screen and (min-width: 576px) and (max-width:992px) {
    .banner{
        flex-direction: column;
    }
    .card-items{
        grid-template-columns: repeat(2,1fr);
    }
    .email{
        width: auto;
    }
    
}